@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Traverse Mountain 13th Ward</h1>
        <h2>Sacrament Meeting Planner</h2>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <img src="~/img/meetingHouse.jpg" alt="meeting House" class="home-img">
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    </div>